@font-face{font-family:'站酷仓耳渔阳体';src:url('站酷仓耳渔阳体-Bold.woff2') format('woff2');font-weight:700;font-style:normal;font-display:swap;}
@font-face{font-family:'站酷仓耳渔阳体';src:url('站酷仓耳渔阳体-Light.woff2') format('woff2');font-weight:300;font-style:normal;font-display:swap;}
@font-face{font-family:'站酷仓耳渔阳体';src:url('站酷仓耳渔阳体-Normal.woff2') format('woff2');font-weight:400;font-style:normal;font-display:swap;}
@font-face{font-family:'站酷仓耳渔阳体';src:url('站酷仓耳渔阳体-Regular.woff2') format('woff2');font-weight:400;font-style:normal;font-display:swap;}
@font-face{font-family:'站酷仓耳渔阳体';src:url('站酷仓耳渔阳体-Thin.woff2') format('woff2');font-weight:100;font-style:normal;font-display:swap;}
